nav {
    background-color: #FF6600;
    width: 10%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    text-align: center;
    font-size: 2vw;
    box-shadow: 8px 8px 8px rgb(44, 44, 44);
}

#navText {
    font-family: Oswald;
    text-transform: uppercase;
}

#selfie {
    border-radius: 50%;
    border: 3px solid #FF6600;
    background-color: #FF6600;
    width: 20%;
    height: 20%;
    justify-content: center;
    float: right;
    margin-top: 3vh;
    margin-right: 3vh;
}

#navText a{
    color: white;
}

#navText a:link {
    color: white;
}

#navText a:hover {
    color: black;
}

#navText a:active {
    color: black;
}

footer {
    background-color: darkgray;
    position: fixed;
    z-index: -1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 5vh;
    
}

.footerIcon {
    width: 100px;
    height: 100px;
}