#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

nav {
    background-color: #FF6600;
    width: 10%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    text-align: center;
    font-size: 2vw;
    box-shadow: 8px 8px 8px rgb(44, 44, 44);
    overflow-x: hidden;
}

#navText {
    font-family: Oswald;
    text-transform: uppercase;
}

#selfie {
    border-radius: 50%;
    border: 3px solid #FF6600;
    background-color: #FF6600;
    width: 20%;
    height: 20%;
    justify-content: center;
    float: right;
    margin-top: 3vh;
    margin-right: 3vh;
    position: relative;
}

#landingPageCarousel {
    height: 60vh;
    width: 70vh;
    margin: auto;
    position: relative;
}

#landingPageCarousel .carousel-inner, 
#landingPageCarousel .carousel-item {
    height: 100%;
}

.carousel-item {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-caption{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#slideOne {
    background-image: url("../img/CowSkull.jpg");
}

#slideTwo {
    background-image: url("../img/spitfire.png");
}

#slideThree {
    background-image: url("../img/state.jpg");
}

#slideFour {
    background-image: url("../img/city.jpg");
}

#navText a {
    color: white;
}

#navText a:link {
    color: white;
}

#navText a:hover {
    color: black;
}

#navText a:active {
    color: black;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1.5px solid rgb(138, 67, 0);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-shadow: 8px 8px 8px rgb(77, 77, 77);
}

footer {
    background-color: darkgray;
    z-index: -1;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 100%;   
}

.footerIcon {
    width: 40px;
    height: 40px;
    margin-left: 11%;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
}

.container {
    padding-bottom: 10px;
    margin-left: 10%;
    width: 100%;
}